<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>local.zmkbat</string>
  <key>CFBundleName</key>
  <string>zmkbat</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Read battery levels of the ZMK keyboard.</string>
</dict>
</plist>
